<div class="container my-5">
  <div class="grid sm:grid-cols-1 md:grid-cols-4 xl:grid-cols-6 gap-4">
    @for (product of allProducts; track $index) {
    <div class="product p-3">
      <img [src]="product.imageCover" alt="product-image"/>
      <h6 class="text-main">{{product.category.name}}</h6>
      <h5>{{product.title.split(' ').slice(0,2).join(' ')}}</h5>
      <div class="flex justify-between">
       <span>{{product.price}} EGP</span>
       <span><i class="fa-solid fa-star rating-color"></i> {{product.ratingsAverage}}</span>
      </div>
      <button class="btn bg-main text-white w-full my-2 py-1 rounded">Add To Cart</button>
    </div>
    }
  </div>
</div>
