<section class="p-5">
 @if (steps==1) {
  <div class="container">
   <form [formGroup]="forgotPassword" (ngSubmit)="submitStep1()" class="bg-gray-100 flex flex-col gap-4 p-10 w-[60%] m-auto">
    <label class="text-main font-bold">Forget Password:</label>
    <input formControlName="email" type="email" placeholder="Email" class="rounded p-2">
    <alertError [formName]="forgotPassword" controlName="email"/>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg">{{errorMessage}}</div>
    <button class="bg-main text-white my-2 py-1 rounded" [disabled]="forgotPassword.invalid||isButton">
     @if (!isButton) {Send Code}
     @else {
      <i class="fa-solid fa-spinner fa-spin"></i>
     }
    </button>
   </form>
  </div>
 }
 @else if (steps==2){
  <div class="container">
   <form [formGroup]="verifyResetCode" (ngSubmit)="submitStep2()" class="bg-gray-100 flex flex-col gap-4 p-10 w-[60%] m-auto">
    <label class="text-main font-bold">Reset Code:</label>
    <input formControlName="resetCode" type="text" placeholder="Code" class="rounded p-2">
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg">{{errorMessage}}</div>
    <button class="bg-main text-white my-2 py-1 rounded" [disabled]="verifyResetCode.invalid||isButton">
     @if (!isButton) {Verify}
     @else {
      <i class="fa-solid fa-spinner fa-spin"></i>
     }
    </button>
   </form>
  </div>
 }
 @else if (steps==3){
  <div class="container">
   <form [formGroup]="resetPassword" (ngSubmit)="submitStep3()" class="bg-gray-100 flex flex-col gap-4 p-10 w-[60%] m-auto">
    <label class="text-main font-bold">Reset Password:</label>
    <input formControlName="email" type="email" placeholder="Email" class="rounded p-2">
    <alertError [formName]="resetPassword" controlName="email"/>
    <input formControlName="newPassword" type="password" placeholder="New Password" class="rounded p-2">
    <alertError [formName]="resetPassword" controlName="newPassword"/>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg">{{errorMessage}}</div>
    <button class="bg-main text-white my-2 py-1 rounded" [disabled]="resetPassword.invalid||isButton">
     @if (!isButton) {Reset}
     @else {
      <i class="fa-solid fa-spinner fa-spin"></i>
     }
    </button>
   </form>
  </div>
 }
</section>
